table, td{
  border: 1px solid  rgb(51, 51, 51);
  margin: 20px;
}

th{
  color: white;
  background-color: rgb(51, 51, 51);
}

td{
  padding: 5px;
}

.mail-container{
  position: absolute;
  border: 3px solid #888888;
  margin-left: 550px;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.text-container{
  display: inline-block;
}

a{
  text-decoration: none;
  color:rgb(74, 149, 247);
}

a:hover{
  color:rgb(6, 72, 160);
}

h1{
  color:rgb(75, 74, 74);
}